.test-item-header{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    border-bottom: 1px solid #8dc094;
}
.test-item-content{
    padding: 10px;
    color: #333;
}

.test-item{
    border: 10px solid #8dc094;
    margin-bottom: 10px;
    display: table;
    border-radius: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.button-test{
    text-align: center;
    margin: 10px 0px;
}
